{{# each products}}

<div class="columns">

    {{# each this}}
    <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{this.imagePath}}" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="title">
                <h2>{{this.title}}</h2>
            </div>

            <div class="content is-clearfix">
              {{this.desc}}
              <br><br>
              <div class="is-pulled-left">
                  <p class="price">{{this.price}}</p>
              </div>
              <a class="button is-success is-pulled-right is-medium" href="/add-to-cart/{{this._id}}"><strong>Add to Cart</strong></a>
            </div>
          </div>
        </div>
    </div>
                
    {{/each}}
    


</div>

{{/each}}

<!--

        -->